name: GitHub Metrics

on:
  schedule:
    - cron: "30 4 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.classic.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: main
          committer_message: "Update ${filename} [skip ci]"
          user: hammadxcm
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: UTC
          repositories_skipped: hammadxcm.github.io, hammadxcm
          plugin_traffic: yes
          plugin_gists: yes
          plugin_lines: yes
          plugin_lines_history_limit: 3
          plugin_lines_delay: 30
          plugin_lines_repositories_limit: 10
          plugin_lines_sections: base, repositories

      - name: Full-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: main
          committer_message: "Update ${filename} [skip ci]"
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      - name: Most used languages
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.languages.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: main
          committer_message: "Update ${filename} [skip ci]"
          base: ""
          commits_authoring: hammadxcm, hammadxcm@users.noreply.github.com
          plugin_languages: yes
          plugin_languages_skipped: hammadxcm
          plugin_languages_limit: 24
          plugin_languages_threshold: 0%
          plugin_languages_colors: github
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage, lines
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_load: 300
          plugin_languages_recent_days: 14

      - name: Recently starred
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.stars.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: main
          committer_message: "Update ${filename} [skip ci]"
          base: ""
          plugin_stars: yes
          plugin_stars_limit: 3

      - name: LeetCode
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.leetcode.svg
          token: NOT_NEEDED
          committer_branch: main
          committer_message: "Update ${filename} [skip ci]"
          base: ""
          plugin_leetcode_user: hammadxcm
          plugin_leetcode: yes
          plugin_leetcode_sections: solved, skills
